.booking_form h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #CE181E;
}

.booking_form input[type=number]::-webkit-outer-spin-button,
.booking_form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.booking_form input[type=number] {
    -moz-appearance: textfield;
}

.booking_form .editable {
    width: 100%;
    height: 100px;
    overflow-x: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.booking_form .editable li{
    list-style-position: inside;
    list-style-type: disc;
}

.booking_form .submit {
    padding: 10px 0px;
    width: 100%;
    border-color: #CE181E;
    background-color: #CE181E;
    color: white;
    text-shadow: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: center;
}

.booking_form .editable::-webkit-scrollbar{
    width: 3px;
}

.booking_form .editable::-webkit-scrollbar-thumb{
    background: transparent;
    background-color: gray;
    border-radius: 5px;
}

.booking_form .invoice-heading{
    width: 100%;
    font-family: 'Lato',sans-serif;
    border-radius: 0px 20px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 50px;
    background-image: linear-gradient(to right, #CE181E,#392e9c);
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.booking_form .invoice-heading span{
    display: block;
    font-size: 12px;
    text-transform: initial;
    margin-top: 20px;
}

@media screen and (min-width: 760px) {
    .booking_form .editable {
        width: 40%;
    }
    .booking_form .submit {
        max-width: 200px;
    }
    .booking_form .invoice-heading{
        width: 70%;
        font-size: 40px;
    }
    .booking_form .invoice-heading span{
        font-size: 16px;
    }
}